<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forest.mapper.EmpMapper">
    <!--  Emp getEmpByEid(String eid); -->

    <select id="getEmpByEid" resultType="com.forest.bean.Emp">
        select * from emp where eid = #{eid}
    </select>

    <!-- List<Emp> getAllEmp(); -->
    <select id="getAllEmp" resultType="com.forest.bean.Emp">
        select * from emp
    </select>

    <!-- void addEmp(Emp emp); -->
    <insert id="addEmp">
        insert into emp(ename, age, sex) values(#{ename}, #{age}, #{sex})
    </insert>

    <!-- void updateEmp(Emp emp); -->
    <update id="updateEmp">
        update emp set ename = #{ename}, age = #{age}, sex = #{sex} where eid = #{eid}
    </update>

    <!-- void deleteEmp(String eid); -->
    <delete id="deleteEmp">
        delete from emp where eid = #{eid}
    </delete>

</mapper>